.item-container {
  animation: createBox .1s;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.item-container:hover {
  transform: scale(1.03);
}