.main-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: #333 1px;
  box-shadow: 0px 1px 4px 1px rgb(12 13 14 / 13%);
}

@media (max-width:680px) {
  .main-nav {
    flex-direction: column;
    position: fixed;
    top:0;
    width: 100%;
  }
  .cart{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .logo {
    margin-bottom: 10px;
}
.logo a {
  justify-content: center;
}
}

.main-nav a {
  text-decoration: none;
  color: #333;
}


.logo {
  width: 250px;
}

.logo a {
  display:flex;
}

.logo h1 {
  margin-top:0;
  margin-left: 5px;
  color: #333;
}

.logo img {
  width: 35px;
}

.menu {
  flex: 1
}

.cart {
  width: 30px;
  font-size: 22px;
}



.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 2rem;

}

.menu a {
  font-size: 16px;
}
.menu a {
  text-decoration: none;
  color: #333;
  display: block;
  position: relative;
  padding: 0.2em 0;
}


.active {
  font-weight: 600;
}

/* animacion underline */
.menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  background-color: rgb(218, 116, 21);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.menu a:hover::after,
.menu a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}



/* Scale from center */
.menu li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.menu li a:hover::after,
.menu li a:focus::after {
  transform: scale(1);
}